.logo {
    background-image: url("src/assets/stadium.jpg");
    background-color: #585757;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    background-size: cover;
    padding: 10vh 0;
    text-transform: uppercase;
    margin: 0;
    
}
li{
    margin: 1rem;
}
a{
   text-decoration: none;
   color: white;
}
a:hover{
  color:  #FFC090
}
header nav ul {
   display: flex;
   margin: 0;
   padding: 0.8rem;
   justify-content: space-around;

}
nav {
  border-bottom: 1px solid gray; 
  
}
header nav{
  background-color: #23395d;
}
@media (min-width: 600px){
  header nav ul {
    justify-content: center;
  }
}