
    <form [formGroup]="filter">
        
        <select name="stars" formControlName="stars" (change)="submit()">
            <option value="">stars</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
       
        <input type="text" name="search" placeholder="Search for skill name" formControlName="search" (keyup)="submit()">
  
    </form>

